<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Foody Project</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    @await Component.InvokeAsync("_StylesComponentPartial") 
</head>