<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">

            <a href="../index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20">
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a asp-controller="Categories" asp-action="CategoryList">
                        <i class="fas fa-newspaper"></i>
                        <p>Kategoriler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Products" asp-action="ProductList">
                        <i class="fas fa-cart-plus"></i>
                        <p>Ürünler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Sliders" asp-action="SliderList">
                        <i class="fas fa-sliders-h"></i>
                        <p>Slider</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="About" asp-action="Index">
                        <i class="fas fa-anchor"></i>
                        <p>Hakkımızda</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Features" asp-action="Index">
                        <i class="fas fa-feather"></i>
                        <p>Öne Çıkanlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Customers" asp-action="CustomerMessage">
                        <i class="fas fa-comment"></i>
                        <p>Müşteri Mesajları</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Messages" asp-action="Inbox">
                        <i class="fas fa-inbox"></i>
                        <p>Gelen Kutusu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Messages" asp-action="Sendbox">
                        <i class="fas fa-retweet"></i>
                        <p>Giden Kutusu</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Contacts" asp-action="Index">
                        <i class="fas fa-phone"></i>
                        <p>İletişim</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="SocialMedia" asp-action="Index">
                        <i class="fas fa-star"></i>
                        <p>Sosyal Medya</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Settings" asp-action="Index">
                        <i class="fas fa-keyboard"></i>
                        <p>Ayarlar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout">
                        <i class="fas fa-power-off"></i>
                        <p>Oturumu Kapat</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>