@model List<Category>
@{
    ViewData["Title"] = "Kategoriler";
}
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="card-title">Kategoriler</h4>
                    <span><a class="btn btn-primary" asp-controller="Categories" asp-action="CreateCategory">Yeni Kategori</a></span>
                </div>
                <div class="card-body">
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategori</th>
                                <th>Düzenle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (Category category in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@category.CategoryName</td>
                                        <td><a class="btn btn-outline-warning" asp-controller="Categories" asp-action="UpdateCategory" asp-route-id="@category.CategoryId">Düzenle</a></td>
                                        <td><a class="btn btn-outline-danger" asp-controller="Categories" asp-action="RemoveCategory" asp-route-id="@category.CategoryId">Kaldır</a></td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>